<a href="https://colab.research.google.com/github/scubasloth/MLF_1/blob/main/ETL_example_MongoDB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction

This is a 'notebook' in Google Colaboratory. It contains a mixture of programming code (in Python), interspersed with comments and descriptions, to explain what's going on.

It's a 'live' notebook. That is, you can execute the code contained in the notebook by clicking the play button (triangle inside a circle) next to any of the code cells. You can also edit and change the code before you run it, or you can run it, change it, then run it again to see the changes. It's a good way to experiment with code.

You don't really need to know Python coding to use this notebook. In the simplest case you can just run the supplied code and it should work. But if you do know Python, or you want to experiment, you are welcome to.


To save your own copy of this notebook, you'll need to save it into Google Drive (or GitHub).

This example works through a very simple case of **ETL** - Extract, Transform, Load.

# Extract

The first thing we are going to do is to extract some data from your MongoDB Atlas cluster.

### Import various Python libraries we will need

In [1]:
# Although PyMongo is already included in Colab, you need the `srv` extra to connect to Atlas:
!pip install --upgrade pymongo[srv]

from datetime import datetime, timedelta

from bson import ObjectId
import pymongo
from pymongo import MongoClient
import pandas as pd

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pymongo[srv] in /usr/local/lib/python3.7/dist-packages (4.3.2)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from pymongo[srv]) (2.2.1)

### Connect to MongoDB Atlas

**In the line below, you can replace the value of MONGODB_URL (the bit inside the quotes) with the one that links to your own MongoDB Atlas database!**

In [4]:
MONGODB_URL = "mongodb+srv://pacman:Icesandwichcase@cluster0.zylzy1x.mongodb.net/test"

client = MongoClient(MONGODB_URL)

In [5]:
# List database names
client.list_database_names()

['sample_airbnb',
 'sample_analytics',
 'sample_geospatial',
 'sample_guides',
 'sample_mflix',
 'sample_restaurants',
 'sample_supplies',
 'sample_training',
 'sample_weatherdata',
 'admin',
 'local']

In [7]:
# Choose a database, and list the collections in that database
db = client.get_database("sample_restaurants")
db.list_collection_names()

['restaurants', 'neighborhoods']

In [8]:
# Choose a collection
restaurants = db.get_collection("restaurants")

### Run a query and store results in a Pandas DataFrame

In [6]:
# Run a query ("find" operation)
#results = restaurants.find({"borough":"Brooklyn"})
results = restaurants.find()

# We need to do some type manipulation - convert our Cursor of results into a list, then convert the list into a Pandas DataFrame
results_list = list(results)
df = pd.DataFrame(results_list)

# Print out the first few rows of the DataFrame
df.head()

,_id,address,borough,cuisine,grades,name,restaurant_id
0,5eb3d668b31de5d588f4292b,"{'building': '7114', 'coord': [-73.9068506, 40...",Brooklyn,Delicatessen,"[{'date': 2014-05-29 00:00:00, 'grade': 'A', '...",Wilken'S Fine Food,40356483
1,5eb3d668b31de5d588f42931,"{'building': '6409', 'coord': [-74.00528899999...",Brooklyn,American,"[{'date': 2014-07-18 00:00:00, 'grade': 'A', '...",Regina Caterers,40356649
2,5eb3d668b31de5d588f42932,"{'building': '1839', 'coord': [-73.9482609, 40...",Brooklyn,"Ice Cream, Gelato, Yogurt, Ices","[{'date': 2014-07-14 00:00:00, 'grade': 'A', '...",Taste The Tropics Ice Cream,40356731
3,5eb3d668b31de5d588f42934,"{'building': '7715', 'coord': [-73.9973325, 40...",Brooklyn,American,"[{'date': 2014-04-16 00:00:00, 'grade': 'A', '...",C & C Catering Service,40357437
4,5eb3d668b31de5d588f42935,"{'building': '705', 'coord': [-73.9653967, 40....",Brooklyn,Jewish/Kosher,"[{'date': 2014-11-10 00:00:00, 'grade': 'A', '...",Seuda Foods,40360045

In [7]:
# Show total number of documents in the collection
print (len(df))

25359

### Explore the data a little bit

In [ ]:
# Count the number of documents in each borough
df['borough'].value_counts()

In [ ]:
# Count the number of documents for each cuisine
df['cuisine'].value_counts()

In [ ]:
# Just for fun we can even create a little bar chart and visualise the number of restaurants in each borough
df['borough'].value_counts().plot(kind='bar');

Hmm, it looks like some of the borough's have 'Missing' as their value. We'll come back to that data quality issue in a minute.

You might notice that even up above when we showed the list of borough's, there was 'Missing' mentioned. But it seems to stand out more when you show it in a bar chart, don't you think?

# Transform

Now that we've extracted the data and had a bit of a look at it, we can apply some transformations. Note that we're processing the data as a batch here, not streaming transformation.

### Deal with missing values

We noticed above that some documents have 'Missing' as the borough name. When cleaning/transforming the data, we need to decide what to do with them. We could:
* remove those rows entirely
* change 'Missing' to some other value

If it was numeric data we could consider taking the mean or median value, but as it's a text field that's not applicable.

Let's say that we want our data warehouse to only have clean data, so we'll just remove those rows entirely from the data set.

In [ ]:
# We'll create a new DataFrame called transformed that consists of all documents from the original set where the borough is NOT 'Missing'
transformed = df[df.borough != "Missing"].copy()

In [ ]:
# To verify this, let's count the number of documents for each borough again. There now shouldn't be any with 'Missing'
transformed['borough'].value_counts()

### Rewrite values

Maybe the data we are importing doesn't match the data model used in our data warehouse. We might need to transform or change some of the values in the input data so that it matches what we want it to be.

Let's look at all the possible (unique) cuisine types

In [ ]:
print (df['cuisine'].unique())

There's some data quality issues in there.  Cafes seem to have two different entries:
* Café/Coffee/<wbr>Tea
* CafÃ©/Coffee/<wbr>Tea

The fact that there's two different terms representing the same thing is a problem. It's also a bit cumbersome if you wanted to query the data.

Maybe in our data warehouse we want to change both of these to just simply 'Cafe'. So we want to change all cuisine types from one value to another.

In [ ]:
# Change all occurrences of 'Café/Coffee/Tea' to simply 'Cafe'
transformed.loc[(transformed.cuisine == 'Café/Coffee/Tea'),'cuisine']='Cafe'
transformed.loc[(transformed.cuisine == 'CafÃ©/Coffee/Tea'),'cuisine']='Cafe'

In [ ]:
# To verify this, let's count the number of documents for each cuisine type again. Now it should show 'Cafe' instead of what was there before.
transformed['cuisine'].value_counts()

### Select columns

Maybe we don't want to load all columns from the original data into our data warehouse.

The original data contains a column called 'grades'. Let's delete this column entirely.

In [ ]:
# Delete the 'grades' column
del transformed['grades']

In [ ]:
# Print out the first few rows again, just so we can see that column is gone now
transformed.head()

# Load

Now that we've extracted our data and transformed it, it's time to load it.

In this example, for simplicity we'll just load it back into the same MongoDB Atlas database that we extracted it from, but put it into a new collection.

Normally of course you would load it into a different database.

In [ ]:
# Create a new collection in the database. Note that with MongoDB the collection doesn't actually exist until we put some data into it (next step)
# Our new collection will be called "new_restaurants"
newcollection = db["new_restaurants"]

In [ ]:
# Just in case the new collection has data in it (because we re-ran this notebook several times), let's delete all documents in it.
delete_result = newcollection.delete_many({})
print(delete_result.deleted_count, " documents deleted.")

In [ ]:
# Insert the records (documents) from our 'transformed' Pandas DataFrame into the new collection
# Note that if you try to run this twice without first deleting all the documents, you will get an error about inserting duplicates. That's OK, just delete them (previous code block) first
insert_result = newcollection.insert_many(transformed.to_dict('records'))
if insert_result.acknowledged:
  print ("Insert successful")

Now log in to your MongoDB Atlas cluster, and look at your list of databases and collections.

In the 'restaurants' database, there should now be another collection called 'new_restaurants'.

How many documents are in the new collection compared with the original one?

Verify that there is no 'grades' attribute in the new collection either.

# Summary

We've just seen a very simple ETL example where we extracted some data from a database, applied some transformations, then loaded it back into another database.

The purpose is just to illustrate at a very basic level how a data engineer might create code that implements batch ETL processing on data. If you don't know Python code and didn't really understand the code, that's fine - it's more about understanding the steps, and being able to try them out.

Even if you don't know Python though, one thing you might have noticed along the way is that most steps only required 1 or 2 lines of code. We could transform an entire data set with a single instruction. That's the power of ETL - being able to automate data pipelines with simple instructions.